<div class="c-container">
  <!-- <po-input p-placeholder="Pesquise"></po-input> -->
  <div></div>
  <po-button p-label="Novo" (p-click)="create()"> </po-button>
</div>
<app-table-pagination
  [items]="table"
  [actions]="actions"
  [columns]="columns"
  [pageSize]="pageSize"
  [totalHits]="40"
  [currentPage]="currentPage"
  [selectable]="true"
  (itemSelectable)="itemSelectable($event)"
  (onChangeCurrentPage)="onChangeCurrentPage($event)"
  (onChangePageSize)="onChangePageSize($event)"
>
</app-table-pagination>

<po-page-slide #pageSlide p-title="Cadastre o jogador">
  <form
    #packageNgForm="ngForm"
    [formGroup]="playersForm"
    (ngSubmit)="onSave(playersForm.value)"
  >
    <po-input
      p-label="Nome"
      p-placeholder="Digite"
      formControlName="name"
    ></po-input>
    <po-select
      p-label="Gênero"
      p-placeholder="Selecione"
      formControlName="generous"
      [p-options]="[
        { label: 'Masculino', value: 'masculine' },
        { label: 'Feminino', value: 'feminine' }
      ]"
    ></po-select>

    <po-button
      [p-disabled]="!playersForm.valid"
      class="save-button"
      p-label="Salvar"
      (p-click)="packageNgForm.ngSubmit.emit()"
    >
    </po-button>
  </form>
</po-page-slide>
